a {
    color: lightseagreen;
}
.cab-fixo {
    position: sticky;
    top: 0;
}
.nav-link {
  background: none!important;
  border: none;
  padding: 0!important;
  outline:none;
}
.nav-item{
    margin-left:10px;
}
.atualizacao{
    font-size: 12px;
    font-style: italic;
    display: flex;
    justify-content: space-between;
}
.apresentacao{
    font-size: 14px;
    text-align: left;
    font-style: italic;
}
.conteudo{
    width: 100%;
    text-align: justify;
    margin-top: 20px;
    
}
.pagina-tit {
    text-align: center;
}
.sinal-semana{
    text-align: center;
    padding: 50px;
    height: 100%;
}
.sinal-semana-alerta {
    background-color: #fefbd8;
    color: rgb(124, 98, 98);
} 
.sinal-semana-alerta-maximo {
    background-color: #ffff00;
    color: rgb(124, 98, 98);
} 
.sinal-semana-atencao-maxima {
    background-color: #ff8c00;
    color: #ffffff;
} 
.sinal-semana-grave {
    background-color: #ff0000;
    color: #ffffff;
} 
.sinal-semana-altissimo-risco {
    background-color: #9400d3;
    color: #ffffff;
}
.exibe-graf{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}
a.exibe-graf{
    margin-left: 10px;
}
.pointer{
    cursor: pointer;
}
.desc{
    font-size: 10px;
}
.row {
    margin-bottom: 10px;
}
.col {
    position: static;
}
.card {
    position: static;
}
.card-sem-borda{
    border: 0px;
}
.card-titulo {
    float: left;
    text-align: left;
}
.tb-classificacao{
    width: 90%;
    text-align: center;
}
.medida {
    margin-bottom: 20px;
}
.indicador {
    height: 100%;
    justify-content: space-between;
}
.indicador-titulo {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    min-width: 200px;
}
.col-grafico-invisivel {
    margin-inline: 16px;
    min-width: 200px;
}
.alerta {
    background-color: #fefbd8;
    font-size: 10px;
    font-weight: bold;
    margin: 5px;
    width: 20%;
    color: rgb(124, 98, 98);
} 
.alerta-maximo {
    background-color: #ffff00;
    font-size: 10px;
    font-weight: bold;
    margin: 5px;
    width: 20%;
    color: rgb(124, 98, 98);
} 
.atencao-maxima {
    background-color: #ff8c00;
    font-size: 10px;
    font-weight: bold;
    margin: 5px;
    width: 20%;
    color: #ffffff;
} 
.grave {
    background-color: #ff0000;
    font-size: 10px;
    font-weight: bold;
    margin: 5px;
    width: 20%;
    color: #ffffff;
} 
.altissimo-risco {
    background-color: #9400d3;
    font-size: 10px;
    font-weight: bold;
    margin: 5px;
    width: 20%;
    color: #ffffff;
}
.rodape {
    margin-top: 50px;
    padding: 15px 0 15px 0;
    text-align: center;
    background-color: lightgrey;
    color: darkslategrey;
}