<div class="container" style="text-align:center">
  <nav class="navbar navbar-dark cab-fixo bg-info">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <button class="nav-link" [ngClass]="{'active': divAtivo === 1 }" (click)="acessar(inicio)">Início</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" (click)="acessar(indicadores)" [ngClass]="{'active': divAtivo === 2 }">Indicadores</button>
      </li>
      <li class="nav-item">
        <button class="nav-link {{ dados }}" (click)="acessar(dados)" [ngClass]="{'active': divAtivo === 3 }">Dados</button>
      </li>
    </ul>  
    <span style="font-size: 10px; color:#ffffff;">Atualizado em {{ dtAtualizacao }}</span> 
  </nav>
  <!----------------------------------  PAGINA INICIO ---------------------------------->
  <div #inicio id="inicio" class="conteudo">
    <div class="pagina-tit">
      <h3><span class="badge badge-pill badge-info">Sinal da Semana</span></h3>
    </div>
    <div class="apresentacao">
      Esse site <u>não é da prefeitura</u>, é um site independente que disponibiliza a evolução dos indicadores 
      divulgados pela <a target="_blank" href="http://www.saude.niteroi.rj.gov.br/" >Fundação Municipal de Saúde de Niterói</a>, 
      com o objetivo de dar maior transparência na evolução desses indicadores.
    </div>
    <div class="card card-sem-borda">
      <div class="card-header card-titulo">
        <span>
          <div>Estágio da Semana: {{ estagio.indice }}</div>
        </span>
        <table class="tb-classificacao">
          <tr>
            <td *ngFor="let classe of estagio.classes" class="{{ classe.id }}">{{ classe.nome }}: {{ classe.valores }}</td>
          </tr>
        </table>
      </div>
      <div *ngIf="true">
        <div class="row">
          <div class="col">
            <div class="card sinal-semana sinal-semana-{{ estagio.classe.id }}">
              <h1>{{ estagio.sinal }}</h1>
              De {{estagio.semana}}
            </div>
          </div>
          <div class="col">
            <div class="card indicador">
              <span class="indicador-titulo bg-info"> Estágio da Semana </span>
              <ngx-charts-bar-vertical class="card-img-top"
                [view]="view"
                [scheme]="colorScheme"
                [results]="estagio.graficoIndice"
                [customColors]="estagio.corSinal"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis">
              </ngx-charts-bar-vertical>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>

  <!----------------------------------  PAGINA INDICADORES ---------------------------------->
  <div #indicadores id="indicadores" class="conteudo" in-viewport (inViewportAction)="action($event)">
    <h3><div class="pagina-tit">
      <h3><span class="badge badge-pill badge-info">Indicadores</span></h3>
    </div></h3>
    O Decreto Municipal 13.604/2020 instituiu o Plano de Transição Gradual para o Novo Normal - Distanciamento Responsável para fins de prevenção e de enfrentamento à epidemia 
    causada pelo novo Coronavírus (COVID-19) no âmbito do Município de Niterói.<br/>
    O <a href="#" (click)="exibirDecreto()">Capítulo II</a>, que define os 12 indicadores de monitoramento, está disponível em nossa página.
    O decreto na íntegra está no 
    <a href="http://www.pgm.niteroi.rj.gov.br/legislacao_pmn/2020/Decretos/DECRETO%20N%C2%BA13.604%20Institui%20o%20Plano%20de%20Transi%C3%A7%C3%A3o%20Gradual%20para%20o%20Novo%20Normal.pdf" 
      target="_blank"> site da prefeitura</a>.
    <br/><br/>
    <div> 
      <a *ngIf="exibeDecreto" href="#" (click)="acessar('indicadores')">Voltar para Indicadores</a>
    </div>
    <decreto [exibeDecreto]="exibeDecreto"></decreto>
    <div *ngIf="!exibeDecreto">
      <div class="exibe-graf"> 
        <span><i>No celular melhor visulizado na horizontal</i></span>
        <span>
          <a href="#" (click)="expandir(true)">+ Expandir</a>
          &nbsp;
          <a href="#" (click)="expandir(false)">- Diminuir</a>
        </span>
      </div>
      <div *ngFor="let medida of medidas" class="card card-sem-borda medida">
        <div class="card-header card-titulo pointer" (click)="exibirGraficos(medida)">
          <span>{{ medida.nome }}</span>
          <table class="tb-classificacao">
            <tr>
              <td *ngFor="let classe of medida.classes" class="{{ classe.id }}">{{ classe.nome }}: {{ classe.valores }}</td>
            </tr>
          </table>
        </div>
        <div *ngIf="exibeGraficos(medida.id)">
          <div class="row" *ngFor="let indicador of medida.indicadores">
            <div class="col">
              <div class="card indicador">
                <span class="indicador-titulo bg-info"> {{ indicador.nome }} </span>
                <ngx-charts-bar-vertical *ngIf="!medida.graficoPercentual" class="card-img-top"
                  [view]="view"
                  [scheme]="colorScheme"
                  [customColors]="indicador.corSinal"
                  [results]="indicador.graficoIndice"
                  [gradient]="gradient"
                  [xAxis]="showXAxis"
                  [yAxis]="showYAxis"
                  [legend]="showLegend"
                  [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel"
                  [xAxisLabel]="xAxisLabel"
                  [yAxisLabel]="yAxisLabel"
                  (select)="onSelect($event)">
                </ngx-charts-bar-vertical>
                <ngx-charts-bar-vertical-normalized *ngIf="medida.graficoPercentual" class="card-img-top"
                  [view]="view"
                  [scheme]="colorScheme"
                  [customColors]="indicador.corSinal"
                  [results]="indicador.graficoIndice"
                  [gradient]="gradient"
                  [xAxis]="showXAxis"
                  [yAxis]="showYAxis"
                  [legend]="showLegend"
                  [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel"
                  [xAxisLabel]="xAxisLabel"
                  [yAxisLabel]="yAxisLabel"
                  (select)="onSelect($event)">
                </ngx-charts-bar-vertical-normalized>
              </div>
            </div>
            <div class="col">
              <div class="card indicador">
                <span class="indicador-titulo bg-info"> {{ indicador.numerador.nome }} </span>
                <ngx-charts-bar-vertical class="card-img-top"
                  [view]="view"
                  [scheme]="colorScheme"
                  [customColors]="indicador.corSinal"
                  [results]="indicador.graficoNumerador"
                  [gradient]="gradient"
                  [xAxis]="showXAxis"
                  [yAxis]="showYAxis"
                  [legend]="showLegend"
                  [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel"
                  [xAxisLabel]="xAxisLabel"
                  [yAxisLabel]="yAxisLabel"
                  (select)="onSelect($event)">
                </ngx-charts-bar-vertical>
              </div>
            </div> 
          </div> <!--indicador-->
        </div> <!--exibe grafico-->
      </div> <!--Medida-->
    </div> <!-- graficos-->
  </div> <!-- indicadores -->

  <!----------------------------------  PAGINA DADOS ---------------------------------->
  <div #dados id="dados" class="conteudo" in-viewport (inViewportAction)="action($event)">
    <div class="pagina-tit">
      <h3><span class="badge badge-pill badge-info">Dados</span></h3>
    </div>
    Semanalmente a Fundação Municipal de Saúde de Niterói atualiza em seu site os indicadores de monitoramento da COVID-19 na cidade. 
    Porém os dados da semana anterior são removidos, impossibilitando o acompanhamento do histórico dos índices
    e da evolução geral da sinalização adotada pelo município.<br/>
    Nosso site armazena e disponibiliza todos os boletins para que toda a população possa acompanhar com 
    maior transparência a evolução do estágio da COVID-19 na cidade. Disponibilizamos também os dados consolidados, em formato JSON,
    com a série histórica de cada indicador, permitindo que outros sites possam utilizar a informação e disponibilizar em formatos 
    diferentes dos fornecidos nessa página.<br/><br/>
    
    <div class="pagina-tit" *ngFor="let fonte of fonteDados">
      <a target="_blank" href="/assets/dados/{{ fonte.nome }}">{{ fonte.desc }}</a>
    </div>
    <br/>
    <i><u>*Atualizamos os dados toda segunda-feira, logo após a divulgação dos dados oficiais no site da Fundação Municipal de Saúde.</u></i>
  </div>
  <footer class="rodape">
    Contato<br>
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
    </svg>
    niteroi.monitoramento@gmail.com <br><br>
    Portais Oficiais<br>
    <a target="_blank" href="http://www.saude.niteroi.rj.gov.br">http://www.saude.niteroi.rj.gov.br</a> <br>
    <a target="_blank" href="https://coronavirus.rj.gov.br">https://coronavirus.rj.gov.br</a> <br>
    <a target="_blank" href="https://covid.saude.gov.br">https://covid.saude.gov.br</a> 
  </footer>
</div> <!-- container-->
<router-outlet></router-outlet>